chromadb
pandas
requests
python-docx
python-dotenv
python-pptx
PyPDF2
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langsmith
O365
unstructured
pymupdf
onnx
onnxruntime
lark